{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/essentialitemschanger/tetherheader.png",
      "fileBody" : "/interface/essentialitemschanger/tetherbody.png",
      "fileFooter" : "/interface/essentialitemschanger/tetherfooter.png"
    },
    "changeEssentials" : {
      "type" : "label",
      "value" : "Change essential items",
      "hAnchor" : "mid",
      "color" : [126, 117, 102],
      "position" : [78.5, 68]
    },
    "beamaxe" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [16.5, 43.7],
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "wiretool" : {
      "type" : "itemslot",
      "position" : [51.5, 43.7],
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "painttool" : {
      "type" : "itemslot",
      "position" : [86.5, 43.7],
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "inspectiontool" : {
      "type" : "itemslot",
      "data" : "scanmode",
      "position" : [121.5, 43.7],
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    }
  },
  "scripts" : ["/interface/essentialitemschanger/essentialitemschanger.lua"],
  "scriptDelta" : 30,

  "scriptWidgetCallbacks" : [ "leftClick", "rightClick" ]
}
